NEXT_PUBLIC_APP_URL=http://localhost:3000
APP_LOCK_ENABLED=false
APP_ACCESS_TOKEN=SK-H-KIMnn7Ai_CbCUi2pTDNy0uP7yz-uGxvcSctZaZtS-YEFn2RRQQ0CsXVpLzO
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
USD_TO_ZAR=18.45
GBP_TO_ZAR=23.65
EUR_TO_ZAR=20.10
